<style>
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#container{
    background-color: beige;
    height: 100vh;
    width: 100vw;
}
.header{
    display: block;
    width: 100%;
    height: 80px;
    background-color: black;
}
.iner_header{
    width: 1000px;
    color: white;
    display: block;
    background-color: red;
    height: 100%;
    margin: 0 auto;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    color:white;
}
.iner_header .navigation{
    float: right;
    height: 100%;
}
.iner_header .navigation li{
    display: table;
    height: 100%;
    float: left;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    padding: 30px;
}
.navigation a{
    color: white;
}
.logo_container h1 a{
    color: white;
}
.navigation li a:hover{
    color: black;
}
.logo_container h1 a:hover{
    color: black;
}
.footer_container{
    height: 150px;
    display: block;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    text-align: center;
    
}
.iner_footer{
    width: 1000px;
    color: white;
    display: block;
    background-color: red;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.iner_footer .navigation{
    text-align: center;
    display: table;
    height: 100%;
    margin: 0 auto;
}
.iner_footer .navigation li{
    margin-top:15px;
    font-weight: bold;
}
.iner_footer .navigation h3{
    margin-top:10px;
}
.form_div{
    padding: 25px;
}
.form_div form input{
    padding: 5px;
    border-radius: 5%;
}
.form_div form{
    padding: 5px;
}
.form_div form p{
    padding-bottom: 5px;

}
.form_div{
    padding-top: 5px;
    
}

</style>