<style>
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#container{
    background-color: beige; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}
.header{
    height:80px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 220, 155);
    
}
.iner_header{
    width: 1000px;
    background-color: beige;
    display: flex;
}
.logo_container{
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-weight: bold;
}
.header .navigation{
    display: flex;
    flex:1;
    justify-content: right;
    align-items: center;
    padding: 10px;
}
.header .navigation li{
    padding: 10px;
    font-weight: bold;

}
.footer_container{
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 220, 155);

    bottom:0;
}
.footer_container .iner_footer{
    display: flex;
    background-color: beige;
    justify-content: center;
}
.footer_container .iner_footer .navigation{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.footer_container .iner_footer .navigation *{
    padding: 5px;
}

.all_products_container{
    display: flex;
    flex: 2;
    justify-content: center;
    background-color:  beige;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-color: rgb(255, 220, 155);

}
.product_container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px;
    border: solid;
    border-radius: 5px;
    width: 400px;
    background-color:rgb(255, 220, 155);
}
.product_container img{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 5px black;
}
.product_container table{
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_container table tr *{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_div{
    flex: 1;
    padding: 50px 0 0 50px;
}
</style>