<style>
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#container{
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}
.header{
    height:80px;
    display: flex;
    justify-content: center;
    background-color: #603F8B;
    position:sticky;
    top:0;    
}
.header h1, a{
    color: black;
}
.header h1, a:hover{
    color :#FD49A0;
    
}
.iner_header{
    width: 1000px;
    background-color: #EAE7FA;
    display: flex;

}
.logo_container{
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-weight: bold;
}
.header .navigation{
    display: flex;
    flex:1;
    justify-content: right;
    align-items: center;
    padding: 10px;
}
.header .navigation li{
    padding: 10px;
    font-weight: bold;

}
.footer_container{
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #603F8B;
    bottom:0;
}
.footer_container .iner_footer{
    display: flex;
    background-color:#EAE7FA;
    justify-content: center;
}
.footer_container .iner_footer .navigation{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.footer_container .iner_footer .navigation *{
    padding: 5px;
}

.all_products_container{
    display: flex;
    flex: 2;
    justify-content: center;
    

}
.product_container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px;
    border: solid;
    border-color: #603F8B;
    box-shadow: 5px 5px 5px grey;
    font-weight: bolder;
    border-radius: 5px;
    width: 400px;
    height: 450px;
}
.product_container img{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 5px  #603F8B;
}
.product_container table{
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_container table tr *{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_div{
    flex: 1;
    padding: 50px 0 0 50px;
}
.form_subdiv{
    border: solid ;
    border-color: #603F8B;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    max-width: 400px;
    
}
.form_subdiv input{
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    box-shadow: 2px 2px 2px #603F8B;
}
.form_subdiv input.text {
    padding-left: 5px;
    width: 300px;
}
.form_subdiv p{
    margin-left: 12px;
    margin-top: 10px;
    font-size: large;

}
.form_subdiv input.button{
    font-weight: bold;
    color: #603F8B;
    width: 150px;

}
.form_subdiv input.button:hover{
    cursor: pointer;
    background-color: #B4FEE7;
}
.log_in_div{
    border: solid ;
    border-color: #603F8B;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    max-width: 400px;
}
.log_in_div input {
    font-weight: bold;
    color: #603F8B;
    width: 150px;
}
.log_in_div input.text{
    padding-left: 5px;
    width: 300px;
    height: 35px;
    margin-top: 10px;
}
.log_in_div p{
    margin-left: 8px;
    margin-top: 10px;
    font-size: large;
}
.log_in_div p input{
    margin-left: -30px;
}
.log_in_div input.button{
    height:35px;
    width: 150px;

}
.button{
    height:35px;
    width: 150px;
    border-color: #603F8B;
    color: #603F8B;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 5px 5px grey;
    margin-top: 10px;
}
.button:hover{
    cursor: pointer;
    background-color: #B4FEE7;
}
#search_form input.text{
    padding-left: 5px;
    width: 300px;
    height: 35px;
    margin-top: 10px;
}
#my_order{
    border: solid;
    border-color: #FD49A0;
    width: 400px;
    padding: 10px;
    padding-bottom: 15px;
    font-weight: bolder;
    box-shadow: 5px 5px 5px #FD49A0;

}
</style>